.mainCont {
    height: 100%;
    display: flex;
}

.mainBar {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.mainBar>* {
    width: 100%;
}

@media screen and (max-width: 900px) {
	.mainBar {
		width: 65%;
	}
}

@media screen and (max-width: 500px) {
	.mainBar{
		width: 55%;
	}
}